<!DOCTYPE html>
<html>
    <head>
        <title>visualCaptcha Django and jQuery Demo - The best captcha alternative</title>
        <meta charset="utf-8">

        <meta name="keywords" content="visualcaptcha, captcha, jquery, php, turing test, mobile-friendly, accessible, accessibility, retina-friendly, better captcha, fancy captcha, captcha alternative, demo">
        <meta name="description" content="A cool visual captcha jQuery plugin. Mobile-friendly. Retina-ready. Accessible.">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- CSS -->
        <link href="http://demo.visualcaptcha.net/css/demo.css" media="all" rel="stylesheet">
        <link href="http://emotionloop.github.io/visualCaptcha-frontend-core/dist/visualcaptcha.css" media="all" rel="stylesheet">
        <style type="text/css">
          .errorlist {list-style-type: none; color:red;}
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrap">
            <a href="/" target="_blank" class="logo"><img src="http://demo.visualcaptcha.net/img/logo.png" alt="visualCaptcha"></a>
            <div class="pre-captcha-wrapper">
                <div class="captcha-wrapper">
                    <h1>Fill in the form and submit it</h1>
                    <form name="frm-sample" class="frm-sample" method="post">
                        {% csrf_token %}
                        {{ form.name }}
                        {% if form.name.errors %}{{ form.name.errors }}{% endif %}
                        {% if captcha_check %}<div id="status-message"><div class="status{% if captcha_check.is_valid %} valid {% endif %}"> <div class="icon-{% if captcha_check.is_valid %}yes{% else %}no{% endif %}"></div> <p>{{ captcha_check.message }}</p> </div></div>{% endif %}
                        <div id="sample-captcha"></div>
                        <button type="submit" name="submit-bt" class="submit">Submit form</button>
                    </form>
                </div>
            </div> 
            <div class="links">
                <p class="txt-center">
                    <a href="/" target="_blank"><b>visualCaptcha</b></a> by <a href="http://emotionloop.com/" target="_blank"><b>emotionLoop</b></a> & <a href="http://www.cre8ivemarketing.co.za"  target="_blank">Cre8ive Marketing</a>
                    <br /><br>
                    View other demos:
                    <br />
                    <a href="http://demo.visualcaptcha.net/" target="_blank"><strong>PHP / jQuery</strong></a> |
                    <a href="http://node.demo.visualcaptcha.net/" target="_blank"><strong>Node.js</strong></a> |
                    <a href="http://ruby.demo.visualcaptcha.net/" target="_blank"><strong>Ruby</strong></a> |
                    <a href="http://meteor.demo.visualcaptcha.net/" target="_blank"><strong>Meteor</strong></a> |
                    <a href="http://multiple.demo.visualcaptcha.net/" target="_blank"><strong>Multiple</strong></a>
                    <br /><br />
                    You can download the demo django project <a href="https://github.com/muhammedabad/django-visualcaptcha">here.</a><br /><br />For other language demos and complete documentation and support, please visit our <a href="https://github.com/emotionLoop/visualCaptcha" target="_blank"><b>GitHub</b></a> page.
                </p>
            </div>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/visualcaptcha.jquery.js"></script>
        <script type="text/javascript">
		$(document).ready(function(){
			
			var el = $('#sample-captcha').visualCaptcha( {
				imgPath: '/assets/img/visualcaptcha/front/',
				captcha: {
					numberOfImages: 5
				},
			});

			// use next code for getting captcha object
			var capthca = el.data('captcha');

            {% if captcha_check.is_valid %}
            setTimeout(function(){
              if ($("#status-message").is(":visible")) {
                $("#status-message").hide('slow');    
              }
            }, 3000);
            {% endif %}

            $(".icon-no").click(function(){
                $(this).css("cursor", "pointer");
                $(this).parent().hide('slow');
            });

            {% if captcha_check.is_valid %}
              alert("Captcha challenge was successful !");
            {% endif %}

		});

</script>
    </body>
</html>

